.MobileSidebar {
    scrollbar-width: thin !important;
    @apply
    /* sm */
    bg-c2 w-0 h-[calc(100vh-8px)] text-c4 transition-[width] duration-1000 absolute overflow-y-auto rounded mr-3 overflow-x-hidden
    /* md */
    scroll-m-2 z-30 lg:hidden block
    /* lg:relative */
}

.MobileSidebar.unActive {
    @apply w-0
}

.MobileSidebar.active {
    @apply w-60 
}

.MobileSidebar .logo {
    @apply mx-4 h-16 flex justify-between items-center border-b-2
}


/* .sidebar .sidebar-items {
    @apply 
} */

.MobileSidebar .sidebar-items .projects,
.MobileSidebar .sidebar-items .plugins {
    @apply w-full relative
}

.MobileSidebar .sidebar-items .projects span,
.MobileSidebar .sidebar-items .plugins span {
    @apply block m-3 mt-4
}

.MobileSidebar .sidebar-items .projects .search {
    @apply absolute top-4 right-2 bg-cover bg-no-repeat flex items-center flex-row-reverse w-20 h-7
}

.MobileSidebar .sidebar-items .projects .search img {
    @apply w-4 h-4 bg-cover mx-1 bg-no-repeat cursor-pointer
}

.MobileSidebar .sidebar-items .projects .search input {
    @apply w-0 outline-none transition-[width] rounded text-c1 p-0
}

.MobileSidebar .sidebar-items .projects .search input.activeSearch {
    @apply w-24 outline-none p-1 border border-c1
}

.MobileSidebar .sidebar-items .projects ul,
.MobileSidebar .sidebar-items .plugins ul {
    @apply ml-5
}

.MobileSidebar .sidebar-items .projects .project {
    @apply flex items-center justify-start flex-col rounded-l mb-0.5
}


.MobileSidebar .sidebar-items .projects .project .projectContainer1 {
    @apply flex items-center justify-between w-full hover:bg-c1 rounded-l cursor-pointer
}


.MobileSidebar .sidebar-items .projects .project .projectContainer1 .projectName {
    @apply  [&:before]:inline-block [&:before]:content-[""] [&:before]:w-2 [&:before]:h-2 [&:before]:rounded-full [&:before]:bg-c5 [&:before]:mx-3
}

.MobileSidebar .sidebar-items .projects .project .projectContainer1.active {
    @apply bg-c1
}

.MobileSidebar .sidebar-items .projects .project .projectContainer1.active .projectName {
    @apply [&:before]:bg-c2
}

.MobileSidebar .sidebar-items .projects .project .drobDown {
    /* max-height: 0; */
    height: 0;
    @apply w-full overflow-hidden transition-[height] duration-1000
}

.MobileSidebar .sidebar-items .projects .project .drobDown.active {
    /* height: fit-content; */
    /* max-height: 500px; */
    @apply h-fit
}

.MobileSidebar .sidebar-items .projects .project .arrow {
    @apply hover:outline outline-c2 rounded outline-2 w-6 h-6 flex justify-center
}

.MobileSidebar .sidebar-items .projects .drobDown .model,
.MobileSidebar .sidebar-items .plugins ul li {
    @apply flex-nowrap flex items-center justify-center my-1 h-12 hover:bg-c1 rounded-l relative overflow-hidden
}

.MobileSidebar .sidebar-items .projects .drobDown .model a{
    @apply w-full overflow-auto
}

.MobileSidebar .sidebar-items .projects .drobDown .model {
    @apply [&>a:before]:inline-block [&>a:before]:content-[""] [&>a:before]:w-2 [&>a:before]:h-2 [&>a:before]:rounded-full [&>a:before]:bg-c4 [&>a:before]:mx-3
}


.MobileSidebar .sidebar-items .projects .drobDown .model .trash {
    @apply absolute top-4 right-8 w-4 h-4 bg-trash bg-cover bg-no-repeat cursor-pointer
}

.MobileSidebar .sidebar-items .plugins ul li i img {
    @apply inline-block w-4 h-4 mx-2 bg-cover bg-no-repeat
}


.MobileSidebar .sidebar-items .projects ul li.active,
.MobileSidebar .sidebar-items .plugins ul li.active {
    @apply bg-c1
}

.MobileSidebar .sidebar-items .projects .drobDown .model.active {
    @apply [&>a:before]:bg-c2
}

.MobileSidebar .sidebar-items .projects ul li a,
.MobileSidebar .sidebar-items .plugins ul li a {
    @apply inline-block w-44 rounded p-3
}






.MobileSidebar .user {
    @apply relative w-full h-40 top-14 mt-2 flex items-center justify-center flex-col
}

.MobileSidebar .user .circle {
    @apply w-20 h-20 rounded-full bg-c4 m-3 relative overflow-hidden
}

.circle img {
    @apply bg-contain
}


 .menuBtn2 {
    @apply lg:hidden flex items-center justify-center border-2 border-c4 min-w-8  w-8 h-8 z-40 text-c4 text-xl rounded-full cursor-pointer transition-all duration-1000 
}
 
@media (min-width: 1024px) {
    .burger{
        display: none !important;
    }
}
