/* body{
    background-color: #E2E8E4;
} */

.login{
    height: 93%;

}

.Card-body{
    width: 50%;
    display: inline-block;
}
.squer{
    position: absolute;
    height: 62%;
    width: 1000px;
    width: 35%;
}
.squer2{
    position: absolute;
    width: 8%;
    height: 22%;
    left: 28%;
    top: -70px;
}
.squer3{
    position: absolute;
    width:9%;
    height: 30%;
    right: 30%;
    top:180px;
}
.div1{    
    top: 350px;
    height: 600px;
    position: absolute;
    width: 100%;
    justify-content: center;
    display: flex;
}

@media(max-width:781px){
    .squer{
        /* width: 60%;
        height: 50%; */
        top:50px
    }
    .squer2{
        display: none;
    }
    .squer3{
        display: none;
    }
}

@media(max-width:600px){
    .squer{
        top:200px
    }
}

