.feildModalContainer .content {
    @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none animate-slide-from-top
}

.feildModalContainer .content .contentContainer {
    @apply mx-5 w-full lg:w-1/2  border-0 rounded-lg shadow-lg relative flex flex-col bg-[#E2E8E4] outline-none focus:outline-none 
}

.feildModalContainer .contentContainer .modelHeader {
    border: none !important;
    @apply flex items-center justify-between rounded-t
}

.feildModalContainer .contentContainer .modelHeader h3 {
    @apply text-xl font-semibold text-[#737373]
}

.feildModalContainer .contentContainer .modelBody {
    @apply relative p-6 flex-auto
}

.feildModalContainer .contentContainer .modelFooter3 {
    border:  none !important;
    @apply flex items-center justify-between p-6
}

.feildModalContainer .contentContainer .modelFooter3 .close {
    background-color: white !important;
    @apply text-[#777]  bg-transparent font-bold px-6 py-3 text-xs outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150
}

.feildModalContainer .contentContainer .modelFooter3 .save {
    @apply flex items-center justify-center bg-c2 text-white active:bg-c2 font-bold text-xs px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150
}